/* post-af */
html{
    background-color:#e9ebee;
    font-family: "Helvetica Neue";
    font-size:14px;
    line-height:18px;
    color:#1c1c1c;
}
.container{
    margin:0 auto;
    width:450px;
    background-color:#FFF;
    border: 1px #dddfe2 solid;
    border-radius: 5px;
    padding:13px;
}
.wrapper{
    width:450px;
    margin: 0 auto;
    border: 1px #dddfe2 solid;
    border-radius: 5px;
}
header, section{
    margin:20px;
}
.logo{
    width:43px;
    height:auto;
    float:left;
}
.make-img{
    width: 100%;
    height: auto;
    border-top:1px solid #dddfe2;
    border-bottom:1px solid #dddfe2;
}
.sub{
    color:#616770;
    margin-left: 80px;
    font-size:80%;
    margin-top:5px;
}
h1{
    font-size:100%;
}
h2{
    color:#395996;
    margin:0 0 0 80px;
    padding-top:10px;
    line-height:12px;
    font-size:100%;
}
p{
    line-height:150%;
}
figure{
    background-color: #f2f3f5;
    width:100%;
    margin:0;
}
figcaption{
    padding:10px 20px;
}
figcaption>span{
    color:#616770;
}