@charset "UTF-8";
/* CSS Document */
.bruinRoze{
    color:brown;
    background-color:pink;
}

.geelBlauw{
    color:yellow;
    background-color:blue;
}

.witZwart{
    color:#FFF;
    background-color:#000;
}

.groot{
    font-size:50px;
}
