@charset "utf-8";
/* CSS Document */
body{
	background-color:#3C3;
}
#container{
	width:20%;
	height:500px;
	position: relative;
	left: 50px;
	top: -100px;
	background-color: rgba(255, 255, 255, 0.5)
}
#header{
	position: relative;
	left: 10px;
	width: 98%;
	height:150px;
	/*background-color: #8ade89; */
	background-color: rgba(255, 255, 255, 0.3)
}
#menu{
	width:200px;
	height:450px;
}
#content{
	width: 775px;
	height:438px;
	background-color: #FFF;
	position: absolute;
	left: 350px;
	top: 120px;
}

